<nav class="navbar">
    <div class="logo">
        <img class="" src="img/logo.png">
    </div>

    <div>
        <ul class="navBarMenu">
            <li class="itemMenu"><a href="">VER POKEMONS</a></li>
            <li class="itemMenu"><a href="">ADICIONAR POKEMON</a></li>
            <li class="itemMenu"><a href="">EDITAR POKEMON</a></li>
        </ul>
    </div>
</nav>

<main>
    <h1 class="pokemonQnt">VOCÊ TEM: 05 POKEMONS</h1>
</main>

